#display {
    height: 25%;
    width: 100%;
    
    display: grid;
}

#total {
}

#equation {
    display: grid;
}

#input {
    grid-column: 1 / span 5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#clearSection {
    grid-column: 6;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5px;
}
#clear {
    height: 60%;
    width: 60%;

    
    border: 1px solid black;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}