#displayPad {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 60% 40%;
}

#total {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-left: 25px;
}

#equation {
    width: 100%;
    display: grid;
    grid-template-columns: 75% 25%;
}

#display {
    padding-left: 25px;
    padding-bottom: 10px;
    font-size: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

#clearSection {
    display: flex;
    align-items: center;
    justify-content: center;
}

#clear {
    background-color: rgb(87, 236, 243);
    color: rgb(28, 72, 83);
    border-radius: 50% 50%;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#clear:hover {
    border: 1px solid rgb(61, 107, 114, 0.5);
}
